[submodule "bao-tests"]
	path = bao-tests
	url = https://github.com/bao-project/bao-tests.git
[submodule "bao-tests-firmware"]
	path = bao-tests-firmware
	url = https://github.com/ESCristiano/bao-tests-firmware.git
